.catWrap {
  width: 100%;
  height: 10vh;
  position: absolute;
  bottom: -35px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  align-items: center;
}
.categoryLink {
  border: solid 1px #76ee51;
  background-color: #38352b;
  display: grid;
  align-items: center;
  text-align: center;
  width: 90px;
  height: 40px;

  position: relative;
  padding: 5px;

  box-shadow: 0 0 5px #76ee51;
}

.categoryLink:hover {
  cursor: pointer;
}

.linkOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #76ee51;
  opacity: 0;
  transition: all 40ms ease-in-out;
  opacity: 0.2;
}
