.itemDetailDisplay {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: start;
  justify-content: start;
  width: 100%;

  border-top: solid 2px;
  border-right: solid 2px;
  box-shadow: 0 0 5px #76ee51;

  justify-self: start;
}

.itemDetailDisplay p {
  padding: 10px;
}
.details {
  display: grid;

  width: 30em;
  height: 30em;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
  grid-gap: 10px;
}

.effects {
  grid-row: 2;
  grid-column: 1/-1;
}
